<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="../static/thumb.ico" rel="icon">

  <title>Title page</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">首頁</a></li>
          <li><a href="./works.html" title="">小豬讀書會</a></li>
          <li><a href="./runnings.html" title="">環島跑步</a></li>
          <li><a href="./movies.html" title="">電影亂聊</a></li>
          <li><a href="./contact.html" title="">關於我</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">關於我</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>經歷</h3>
                  <p>-- HTC 無線通訊軟體主任工程師 2018/3 ~ 2020/11</p>
                  <p>-- KKBOX 後端工程師 2016/10 ~ 2018/3</p>
                  <p>-- HTC 無線通訊軟體工程師 2013/11 ~ 2016/6</p>
                  <p>-- Working Holiday Australia 2012/9 ~ 2013/9</p>
                  <p>-- 陸軍特戰指揮部 傘兵 2011/8 ~ 2012/7</p>
                  <h3>學歷</h3>
                  <p>-- 國立台灣大學電信工程研究所  2008 ~ 2011</p>
                  <p>-- 國立中山大學電機工程學系  2004 ~ 2008</p>
                  <h3>技能</h3>
                  <p>無線通訊軟體 L1 development</p>
                  <p>Anritsu, Keysight auto test tool</p>
                  <p>PHP, MySQL</p>
                  <p>Python</p>
                  <h3>興趣、休閒嗜好</h3>
                  <p>跑步：<br>10多次半馬全馬經驗，跑步之於我一開始只是一個保持體態的手段，偶然想到跑步這麼無聊或許可以跟旅遊結合，一邊跑步一邊認識台灣，於是有了我的跑步環島計畫</p>
                  <p>滑板/滑雪：<br>大學時不好好念書當時的夢想是成為一名職業的滑板選手，荒唐的玩了兩三年後發現沒有這方面的天賦，skateboarding ruin my life，現在偶然還是會懷念起玩板的日子，滑雪也完全沒問題。</p>
                  <p>跳傘：<br>2011年當兵時想著反正都是要奉獻一年給國家，就志願加入傘兵的行列。也從此愛上跳傘。跳傘開啟我第三維度的世界，它的魅力在於讓我感受到最自由的狀態，除了地心引力、空氣阻力剩下的只有開心與恐懼。</p>
                  <p>閱讀：<br>大概也就是大約一個月一本的頻率吧XD，喜歡的類型是歷史傳記、冒險、工具書。最喜歡的三本書是"聖母峰之死"，"mindset"，"the subtle art of not giving a fuck"</p>
                  <p>英雄聯盟：<br>從S2被朋友帶入坑之後就造就了不解之緣，不是狂熱的電玩份子，LOL算是我最長接觸的遊戲了，不過遊戲天分不高，現在偶爾打打ARAM</p>
                  <p>電影：<br>同閱讀，就是喜歡看看的人吧...哈，喜歡的類型除了鬼片血腥片大抵都接受，喜歡的三部片：頂尖對決、聖人大盜、天外奇蹟</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <!--img src="../static/assets/images/october.jpg" class="img-responsive" alt=""-->
                  <img src="../static/assets/images/october.jpg" width="300" height="300" alt="">

                </div>
              </div>
            </div>
          </div>

       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>